<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change Password</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:if="false">
		$(document).ready(function () {
			// Function to handle form submission via AJAX
			$("#changePasswordForm").submit(function (event) {
				// Prevent the default form submission
				event.preventDefault();

				// Serialize form data
				var formData = $(this).serialize();

				// Perform AJAX POST request
				$.ajax({
					type: "POST",
					url: "/auth/web/change-password/" + $("input[name='token']").val(),
					// Replace {token} with actual token value
					data: formData,
					success: function (data) {
						// Handle success response
						// You can display a success message or perform any other actions here
						$("#successMessage").show(); // Show success message
						$("#invalidTokenMessage").hide(); // Hide invalid token message
						alert("password changed succesfully");
					},
					error: function (xhr, status, error) {
						// Handle error response
						// You can display an error message or perform any other actions here
						console.error("Error occurred: " + error);
						$("#invalidTokenMessage").show(); // Show invalid token message
						$("#successMessage").hide(); // Hide success message
					}
				});
			});
		});
	</script>
</head>

<body>
	<div id="invalidTokenMessage" th:if="${isError}">
		<p>Invalid token. Please try again.</p>
	</div>

		<div id="successMessage" th:if="${status}">
			<p>Password changed successfully!</p>
		</div>
		
	<div th:if="${!isError and !status}">
		<h1>Change Password</h1>

		<form id="changePasswordForm" method="post" action="" th:object="${changePasswordDTO}">
			<!--input type="hidden" name="_csrf" th:value="{_csrf.token}"/-->
			<!--input type="hidden" name="_csrf_header" th:value="{_csrf.headerName}"/-->


			<div>
				<label for="password">New Password:</label>
				<input type="password" id="password" name="password" th:field="*{newPassword}" required />
			</div>

			<div>
				<label for="confirmPassword">Confirm Password:</label>
				<input type="password" id="confirmPassword" name="confirmPassword"  th:field="*{confirmPassword}" required />
			</div>

			<div>
				<button type="submit">Change Password</button>
				<div th:if="${!status}" th:text="${message}"></div>
			</div>
		</form>
	</div>
</body>

</html>